/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*debug*/
.debug header{
    background-color: violet;
}
.debug main{
    background-color: cadetblue;
}
.debug .photos{
    background-color: white;
}
/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}
/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px; 
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gap-10 > .col {
    padding: 10px;
}
.gap-20 > .col {
    padding: 20px;
}
.gap-30 > .col {
    padding: 30px;
}

.grow {
    flex-grow: 1;
}
/*TYPOGRAPHY*/
body{
    font-family: "Edu TAS Beginner", sans-serif;
    color: #000;
}
h1{
    font-size: 60px;
    font-weight: bold;

}
/*HEADER*/
header {
   width: 100%;
  
   
}
.title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*MAIN*/
main{
    max-width: 100%;
    padding: 40px;

}

.photos{
    margin-bottom: 20px;
    width: 296px;
    height: 362px;
    
}
.photos .col{
    width: calc(100% / 3);
}
.thumbtack{
    position: relative;
    left: 40%;
    top: -14px;
}
.photos-img{
    position: relative;
    top: -17px;
    left: 17px;
}
.img-place-holder{
    height: 263px;
    width: 263px;
    background-color: #92C952;
}
/*----------------
    RESPONSIVE
    Mobile First
------------------*/
/* SM >= 576px */
@media screen and (min-width: 576px) {

}
/* MD >= 768px */
@media screen and (min-width: 768px) {
    .photos .col{
        width: calc(100% / 2);
    }
}
